#!/usr/bin/make -f
DESTDIR = $(CURDIR)/debian/sv-armory-ad
%:
	dh $@
override_dh_auto_install:
	install -D -m755 files/armory-ad $(DESTDIR)/usr/bin/armory-ad
	install -D -m644 armory-ad.list $(DESTDIR)/usr/share/armory/ad-manifest.list
	install -D -m644 catalog.d/armory-ad.json $(DESTDIR)/usr/share/svent/catalog.d/armory-ad.json
