Source: sv-tools-active-directory
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-tools-active-directory
Architecture: all
Depends: svent-core, sv-ldapsearch, sv-smbclient, sv-certipy, sv-gmsadumper, sv-kerbrute, sv-evil-winrm, sv-kerberos, sv-samba, sv-samba-common, sv-nbtscan, sv-onesixtyone, sv-samdump2, sv-freerdp, sv-proxychains, sv-impacket, sv-ldapdomaindump, sv-smbmap, sv-gosecretsdump, sv-godap, sv-enum4linux, sv-evil-winrm-py, sv-bloodyad, ${misc:Depends}
Description: Svent active-directory tool group
 Installs every Svent tool in the active-directory category.
