Source: sv-kerberos
Section: metapackages
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-kerberos
Architecture: all
Depends: svent-core, krb5-user, ${misc:Depends}
Description: Svent active-directory tool: kerberos
 Installs kerberos and registers it in the Svent catalog and menu.
