#!/usr/bin/make -f
PKG = sv-nopac
PREFIX = /opt/sv-nopac
DESTDIR = $(CURDIR)/debian/sv-nopac

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	rm -rf $(CURDIR)/.src
	git clone --depth 1 https://github.com/Ridter/noPac $(CURDIR)/.src
	rm -rf $(CURDIR)/.src/.git
	mkdir -p $(DESTDIR)$(PREFIX)
	cp -a $(CURDIR)/.src/. $(DESTDIR)$(PREFIX)/
	python3 -m venv $(CURDIR)/.venv
	$(CURDIR)/.venv/bin/pip install --no-cache-dir --upgrade pip wheel
	if [ -f $(CURDIR)/.src/requirements.txt ]; then $(CURDIR)/.venv/bin/pip install --no-cache-dir -r $(CURDIR)/.src/requirements.txt; fi
	cp -a $(CURDIR)/.venv $(DESTDIR)$(PREFIX)/.venv
	find $(DESTDIR)$(PREFIX)/.venv/bin -type f -exec sed -i "1s|$(CURDIR)/.venv|$(PREFIX)/.venv|" {} +
	sed -i "s|$(CURDIR)/.venv|$(PREFIX)/.venv|g" $(DESTDIR)$(PREFIX)/.venv/pyvenv.cfg
	mkdir -p $(DESTDIR)/usr/bin
	install -D -m755 files/nopac $(DESTDIR)/usr/bin/nopac
	install -D -m755 files/nopac-scanner $(DESTDIR)/usr/bin/nopac-scanner
	mkdir -p $(DESTDIR)/usr/share/svent/catalog.d
	cp catalog.d/nopac.json $(DESTDIR)/usr/share/svent/catalog.d/

override_dh_strip:
override_dh_dwz:
override_dh_shlibdeps:
	dh_shlibdeps || true

override_dh_auto_clean:
	rm -rf $(CURDIR)/.src $(CURDIR)/.venv
